<a href="https://colab.research.google.com/github/JavariaAmber/python-project/blob/main/listassignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# create a list of 7 numbers
numbers = [3, 8, 15, 22, 7, 10, 5]

print("Even numbers from the list:")

# loop through each number
for num in numbers:
    # check if the number is even
    if num % 2 == 0:
        print(num)

Even numbers from the list:
8
22
10

In [ ]:
# List of student names
students = ["Ali", "Ayesha", "Hamza", "Sara", "Bilal"]

# Ask the user to enter a name
name = input("Enter a student name: ")

# Check if the name exists in the list
if name in students:
    print("Found")
else:
    print("Not Found")

Enter a student name: Hamza
Found

In [ ]:
# create a list of 6 numbers
numbers = [12, 45, 7, 23, 89, 34]

# assume the first number is both min and max
maximum = numbers[0]
minimum = numbers[0]

# loop through the list
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

# print results
print("Numbers in the list:", numbers)
print("Maximum number is:", maximum)
print("Minimum number is:", minimum)

Numbers in the list: [12, 45, 7, 23, 89, 34]
Maximum number is: 89
Minimum number is: 7

In [ ]:
# Original list
numbers = [2, 4, 6, 8, 10]

# Multiply each number by 3 and store in a new list
multiplied = []
for n in numbers:
    multiplied.append(n * 3)

# Print the new list
print("New list after multiplying by 3:", multiplied)

New list after multiplying by 3: [6, 12, 18, 24, 30]

In [ ]:
# Nested list of students with their names and ages
students = [["Ali", 20], ["Sara", 22], ["Ahmed", 19]]

# Printing only the names of the students
for student in students:
    print(student[0])

Ali
Sara
Ahmed

In [ ]:
# create a list of numbers
numbers = [12, 45, 7, 89, 34, 67]

# sort the list in ascending order
numbers.sort()

# print the second largest number
print("The second largest number is:", numbers[-2])

The second largest number is: 67

In [ ]:
# create a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# print elements at odd indexes (1, 3, 5, ...)
print("Numbers at odd indexes are:")
for i in range(len(numbers)):
    if i % 2 != 0:   # check if index is odd
        print(numbers[i])

Numbers at odd indexes are:
2
4
6
8

In [ ]:
# Create a list of words
words = ["Learning", "Python", "is", "fun", "and", "useful"]

# Join the words into a single sentence
sentence = " ".join(words)

# Print the sentence
print(sentence)

Learning Python is fun and useful

In [ ]:
# Creating a dictionary
student = {
    "name": "Ali",
    "age": 20,
    "grade": "A",
    "city": "Lahore"
}

# Removing one key-value pair using pop()
student.pop("city")

# Printing the updated dictionary
print("Updated dictionary:", student)

Updated dictionary: {'name': 'Ali', 'age': 20, 'grade': 'A'}